/Week2/output_videos
/Week2/src/__pycache__
TrackEval
data*/
/faster_rcnn_resnet50_05_og.pth
/detections.json
/Week2/MOTS-train.txt
/Week2/MOTS-train-1.txt
/Week2/detections.json
/fcos_resnet50_05_og.pth
/TrackEval/
bgs*/
/sort/
/subsense/
/venv/
pyflow/
RAFT/
/Week3/FlowFormer/
/Week3/__init__.py
/Week3/chairs.pth
/Week3/deepmind_task1_1.py
/Week3/kitti.pth
/Week3/sintel.pth
/Week3/things.pth
/Week3/things_kitti.pth
/Week3/articles/
Mask*/
*.pth
/Week3/FlowFormer/
/bad.mp4
/bad_crop.mp4
/bad_noflow_crop.mp4
/detections_new.json
/flow_visualization.mp4
/good_005_with.mp4
/good_c001.mp4
/good_c001.txt
/good_c001_with.mp4
/good_c001_with.txt
/good_c002.mp4
/good_c002.txt
/good_c002_with.mp4
/good_c002_with.txt
/good_c003.mp4
/good_c003.txt
/good_c003_with.mp4
/good_c003_with.txt
/good_c004.mp4
/good_c004.txt
/good_c004_with.mp4
/good_c004_with.txt
/good_c005.mp4
/good_c005.txt
/good_c005_with.txt
/good_c010.mp4
/good_c010.txt
/good_c011.mp4
/good_c011.txt
/good_c012.mp4
/good_c012.txt
/good_crop.mp4
/outFlow_flowformer.npy
/outFlow_flowformer.png
/output_mot_format_detectron.txt
/output_mot_format_detectron_bad_noflow.txt
/output_mot_format_detectron_good.txt
/output_mot_format_detectron_good_10k.txt
/output_mot_format_detectron_good_noflow.txt
/output_mot_format_of2.txt
/output_mot_format_of2_bad_flow_verybad.txt
/task2_sort_of2.mp4
/task2_sort_of2_bad_flow_verybad.mp4
/task2_sort_of2_bad_noflow.mp4
/task2_sort_of2_good.mp4
/task2_sort_of2_good_10k.mp4
/task2_sort_of2_good_noflow.mp4
/verybad_crop.mp4
/viz_bad.mp4
/Week4/s03_c015_roi/
/Week4/s01_c003_roi/
/Week4/s01_c001_roi_notcustom/
/Week4/s01_c002_roi_notcustom/
/Week4/s03_c014_roi/
/Week4/c003_roi_global/
/Week4/s03_c010_roi/
/Week4/output_frames/
/Week4/s03_c013_roi/
/Week4/s01_c004_roi/
/Week4/output_frames_roi/
/Week4/s01_c001_roi_global/
/Week4/c004_roi_global/
/Week4/c005_roi_global/
/Week4/s03_c012_roi/
/Week4/s01_c002_roi/
/Week4/s03_c011_roi/
/Week4/c002_roi_global/
/Week4/fastreid/
/Week4/s01_c005_roi/
/Week4/c001_roi_global/
/Week4/s01_c001_roi/
/Week4/c001.txt
/Week4/c002.txt
/Week4/c003.txt
/Week4/c004.txt
/Week4/c005.txt
/Week4/faster_rcnn_R_50_FPN_3x.yaml
/Week4/model_final.pth
/Week4/output_tracking.txt
/Week4/multi_tracklet.py
/Week4/output_tracking_roi.txt
/Week4/s01_c001_roi.txt
/Week4/s01_c001_roi_global.txt
/Week4/s01_c001_roi_notcustom.txt
/Week4/s01_c002_roi.txt
/Week4/s01_c002_roi_notcustom.txt
/Week4/s01_c003_roi.txt
/Week4/s01_c004_roi.txt
/Week4/s01_c005_roi.txt
/Week4/s03_c010_roi.txt
/Week4/s03_c011_roi.txt
/Week4/s03_c012_roi.txt
/Week4/s03_c013_roi.txt
/Week4/s03_c014_roi.txt
/Week4/s03_c015_roi.txt
/Week4/video_final.mp4
/Week4/video_final_ROI.mp4
/Week4/video_final_ROI_c001_global.mp4
/Week4/video_final_ROI_c002.mp4
/Week3/trackeval/
/detectron2/
/final_tracks/
/Global_Tracking_Miren_S01/
/Global_Tracking_Miren_S01_new/
/Global_Tracking_Miren_S01_wild/
/Global_Tracking_Miren_S03/
/Global_Tracking_Miren_S03_old/
/Global_Tracking_Miren_S03_wild/
/Global_Tracking_Miren_S04/
/Week3/trackeval/
/Week4/detection_crops/
/Week4/fastreid/
/Week4/Global_Tracking_New/
/Week4/Global_Tracking_New_s01/
/Week4/Global_Tracking_New_s03/
/Week4/Global_Tracking_New_s04/
/Week4/models/
/Week4/results/
/Week4/video_frames/
/Week4/multi_matching_global_appearance.py
/Week4/model_final.pth
/Week4/multi_matching_global.py
/Week4/reidentification_2.py
/Week4/faster_rcnn_R_50_FPN_3x.yaml
/Week4/model_final_old.pth
